<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>Nginx Me!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="nav">
        <a class="navbar-brand" href="{% url 'tweetpage:tweet' %}" style="color: gray;">PS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" style="padding-left: 30px;" href="{% url 'tweetpage:profil' %}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding-left: 30px;" href="{% url 'tweetpage:search' %}">Cari Buku</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="padding-left: 30px;" href="{% url 'tweetpage:tutorial' %}">Tutorial<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown" id="dropdown">
                    <a style="padding-left: 30px;" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ubah Tema</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="" id="winter-blue">Winter Blue</a>
                        <a class="dropdown-item" href="" id="autumn-red">Autumn Red</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="half container-fluid flex-column flex-lg-row m-auto w-50" id="bg-up">
        <br>
        <hr>
        <h2 style="display: flex; justify-content: center; text-align: center;">Konfigurasi Load Balancer dengan NGINX
            (Windows)</h2>
        <hr>
        <img src="../static/nginx.png" class="img-fluid" style="width: 95%; margin-top: 0.5rem; margin-bottom: 0.5rem;"
            alt="nginx">
        <br>
        <br>
    </section>

    <section class="schedule w-100 d-flex flex-column flex-lg-row justify-content-center align-items-center"
        id="body-dark">
        <div class="half container-fluid flex-column flex-lg-row m-auto w-50" style="padding-bottom: 2em;" id="bg-down">
            <blockquote style="text-align: center;">Load-Balancing adalah metode untuk mendistribusikan beban
                <i>network</i> atau <i>application-traffic</i> pada dua atau lebih jalur koneksi secara seimbang, agar
                <i>traffic</i> berjalan dengan optimal, memperkecil waktu respon, dan menghindari <i>overload</i> pada
                salah satu jalur koneksi. NGINX adalah web server yang juga bisa digunakan sebagai Load-Balancer.
                <br>
                <br>
                <h6>Berikut langkah-langkah menggunakan NGINX untuk konfigurasi Load Balancer :</h6>
            </blockquote>
            <br>
            <h5 style="background-color: aqua;">INSTALASI NGINX</h5>
            <ol>
                <li>Download NGINX <a style="color: rgb(144, 229, 255)" href="http://nginx.org/en/download.html">disini
                    </a>(<i>Stable Version</i>)</li>
                <li>Ekstrak folder <small class="text-monospace">nginx-1.16.1</small> setara dengan folder project yang
                    dibuat.</li>
                <img src="../static/extract.png" class="img-fluid" style="width: 95%; margin-top: 0.5rem;"
                    alt="extract">
            </ol>
            <br>
            <h5 style="background-color:rgb(255, 125, 201);">MENJALANKAN NGINX</h5>
            <ol>
                <li>Jalankan Command Prompt di dalam folder <small class="text-monospace">nginx-1.16.1</small>.</li>
                <li>Ketik <q><b>start nginx</b></q>.</li>
                <img src="../static/start.png" class="img-fluid"
                    style="width: 95%; margin-top: 0.5rem; margin-bottom: 0.5rem;" alt="start">
                <li>Buka browser, lalu ketik <q><b>localhost</b></q> di search bar. Tampilannya akan seperti ini.</li>
                <img src="../static/localhost.png" class="img-fluid"
                    style="width: 95%; margin-top: 0.5rem; margin-bottom: 0.5rem;" alt="localhost">
                <li>Pastikan nginx sudah berjalan. Ketik <q><b>tasklist /fi "imagename eq nginx.exe"</b></q> pada
                    Command Prompt-nya untuk memastikan.</li>
                <li>Untuk mematikan nginx, ketik <q><b>nginx -s stop</b></q>.</li>
                <p>(Untuk beberapa kasus terkadang nginx tidak mau di-stop, alias masih jalan. Maka matikan secara
                    manual melalui Task Manager).</p>
            </ol>
            <br>
            <h5 style="background-color: aqua;">KONFIGURASI NGINX</h5>
            <ol>
                <p>Kali ini, saya membuat project baru yang bertujuan untuk menguji apakah NGINX bekerja dengan baik
                    atau tidak. Tentunya teman-teman sudah mahir dengan langkah-langkah membuat project dan app. Jadi
                    langsung saja ke intinya.</p>
                <p>Bagi yg belum tahu, silahkan klik <a style="color: rgb(144, 229, 255)"
                        href="https://gist.github.com/lepiku/353b5811d81a35fc967a44326cfb9581">link ini.</a></p>
                <li>Di dalam folder project, nyalakan server django. Misalnya melalui <q><small>port 8000</small></q>
                    dan <q><small>port 9000</small></q>.</li>
                <ul>
                    <li>Buka 2 buah Command Prompt dan jalankan 2 server sekaligus : <q><b>python manage.py runserver
                                8000</b></q> dan <q><b>python manage.py runserver 9000</b></q></li>
                    <img src="../static/runserver.png" class="img-fluid"
                        style="width: 95%; margin-top: 0.5rem; margin-bottom: 0.5rem;" alt="runserver">
                    <li>Nyalakan nginx yang berada di luar folder project dengan menggunakan Command Prompt baru dan
                        ketik <q><b>start nginx</b></q>.</li>
                    <li>Buka browser dan ketik <q><b>localhost</b></q>. Maka terlihat bahwa halaman tersebut tidak
                        berubah sama sekali. Ini artinya NGINX belum menyesuaikan dengan server kita.</li>
                </ul>
                <li>Maka, isi file <small>nginx.conf</small> perlu diubah agar bisa menjalankan project yang sesuai.
                </li>
                <ul>
                    <li>Buka folder <small>nginx-1.16.1</small>, lalu buka folder <small>conf</small>.</li>
                    <li>Backup file <small>nginx.conf</small> untuk jaga-jaga, karena isi file akan diubah.</li>
                    <li>Buka file <small>ngingx.conf</small> yang ada di folder <small>conf</small> menggunakan text
                        editor. Tampilannya akan seperti ini.</li>
                    <img src="../static/conf.png" class="img-fluid"
                        style="width: 95%; margin-top: 0.5rem; margin-bottom: 0.5rem;" alt="conf">
                    <li>Hapus semua isi file tersebut, lalu ganti dengan kodingan sebagai berikut.</li>
                    <img src="../static/conf-fix.png" class="img-fluid"
                        style="width: 95%; margin-top: 0.5rem; margin-bottom: 0.5rem;" alt="conf-fix">
                    <li>Kemudian save.</li>
                </ul>
                <li>Buka kembali Command Prompt yang menjalankan NGINGX tadi, lalu ketik <q><b>nginx -s reload</b></q>.
                    Ini bertujuan agar NGINX memuat ulang isi file <small>nginx.conf</small> tadi.</li>
                <li>Reload browser <q><b>localhost</b></q> tadi.</li>
                <p>Jika halaman sudah berubah sesuai dengan halaman yang dijalankan di server django, maka NGINX sudah
                    bekerja dengan baik.</p>
            </ol>
            <br>
            <h5 style="background-color: rgb(255, 125, 201);">MEMASTIKAN PORT NGINX SAMA DENGAN PORT PADA DJANGO SERVER
            </h5>
            <ol>
                <li>Di dalam <small>views.py</small>, host dan port yang sedang dijalankan dapat diketahui dengan
                    menggunakan fungsi <q><b>get_host()</b></q> dan <q><b>get_port()</b></q>.</li>
                <li>Misalnya ingin menampilkan host dan port di halaman awal, maka kodingannya sebagai berikut.</li>
                <img src="../static/views.png" class="img-fluid"
                    style="width: 95%; margin-top: 0.5rem; margin-bottom: 0.5rem;" alt="views">
                <li>Di dalam file html-nya, tambahkan host dan port tadi seperti berikut.</li>
                <img src="../static/html.png" class="img-fluid"
                    style="width: 95%; margin-top: 0.5rem; margin-bottom: 0.5rem;" alt="html">
                <li>Refresh berulang-ulang halaman tersebut. Terlihat bahwa portnya berubah-ubah. Ini artinya ketika
                    salah satu server sedang sibuk atau bermasalah, maka akan beralih ke server yang lain.</li>
                <img src="../static/8000.png" class="img-fluid"
                    style="width: 95%; margin-top: 0.5rem; margin-bottom: 0.5rem;" alt="port8000">
                <img src="../static/9000.png" class="img-fluid"
                    style="width: 95%; margin-top: 0.5rem; margin-bottom: 0.5rem;" alt="port9000">
                <li>Jika mencoba untuk mematikan server django <q><small>port 8000</small></q>, maka ketika refresh
                    localhostnya, port akan selalu menunjukkan <q><small>port 9000</small></q>. Ini karena server pada
                    <q><small>port 8000</small></q> sudah mati.</li>
            </ol>
            <hr>
            <h6 style="text-align: center;">Dengan begitu maka NGINX kita sudah bekerja dan tutorial pun selesai! YEAAYY
                &#128525;&#129321;</h6>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/query.js"></script>
</body>

</html>